.site_header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    padding: 27px 0;
    transition: 0.1s;
    &.scroll_down {
        top: 0;
    }
    .wrapper {
        flex-wrap: nowrap;
        align-items: center;
    }
    .site_logo {
        display: block;
    }
    .contact_link {
        margin-left: auto;
    }
    .navbar {
        display: flex;
        align-items: center;
        .nav_link {
            font-size: 16px;
            padding-left: 24px;
            display: block;
        }
    }
    .contact_link {
        text-align: right;
        color: var(--orange);
        position: relative;
        p {
            margin-top: 3px;
            position: absolute;
            right: 0;
        }
        .btn {
            padding: 7px 14px;
        }
    }
}
.top_header {
    text-align: right;
    padding: 14px 0;
    .top_links {
        display: inline-flex;
        align-items: center;
        .link_item {
            color: rgb(107, 113, 128);
            display: flex;
            align-items: center;
            gap: 8px;
            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.12);
                padding-right: 16px;
                margin-right: 16px;
            }
        }
        .language_select {
            .trigger {
                display: flex;
                align-items: center;
                color: rgb(107, 113, 128);
                font-weight: 500;
                svg {
                    display: block;
                }
            }
        }
    }
}
.toggle {
    writing-mode: lr;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 24px;

    .bars {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .bar {
        display: inline-block;
        width: 100%;
        width: 30px;
        height: 2px;
        margin: 3px 0;
        transform: none;
        transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

        &::before {
            content: "";
            width: 100%;
            height: 3px;
            background-color: currentColor;
            border-radius: 5px;
            display: block;
            margin-left: auto;
        }
    }

    &.opened {
        .bar {
            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(1) {
                transform: rotate(45deg);
                margin-bottom: -5px;
                &::before {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
                margin-top: -5px;
            }
        }
    }
}

.mobile_menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 9999;
    transition: all 0.35s;
    opacity: 0;
    visibility: hidden;

    &.opened {
        opacity: 1;
        visibility: visible;

        .inner {
            transform: translateX(0%);
        }
    }

    .inner {
        width: 300px;
        max-width: 82%;
        height: 100%;
        background-color: #303030;
        transform: translateX(-100%);
        transition: all 0.35s;
    }
    .top {
        position: relative;
        text-align: center;
        padding: 10px;

        .close_btn {
            position: absolute;
            left: 10px;
            top: 10px;
        }
    }
    .logo {
        display: inline-block;
    }
    .search_bar {
        position: relative;
        margin: 0 10px;
        .form_wrap {
            display: flex;
            align-items: center;
        }
        button {
            color: currentColor;
            position: absolute;
            right: 12px;
        }
        svg {
            width: 20px;
            height: auto;
            display: block;
            path {
                fill: currentColor;
            }
        }
        input {
            width: 100%;
            height: 40px;
            padding: 12px;
            font-size: 15px;
            border-radius: 4px;
            border: 1px solid rgb(41, 41, 41);
        }
    }
    .menu {
        font-size: 19px;
        font-weight: 600;
        position: relative;
        overflow: hidden;

        .nav_link {
            font-size: 17px;
            font-weight: 500;
            padding: 10px 15px;
            color: white;

            .arrow_right {
                width: 19px;
                height: 27px;
                transform: rotate(180deg);
            }
            &:hover {
                background-color: rgb(37, 37, 37);
            }
        }

        .dropdown {
            .nav_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }

        .dropdown_menu {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 3;
            background-color: white;
            width: 100%;
            height: 100%;
            transform: translateX(120%);
            transition: all 0.35s;

            a {
                display: block;
                padding: 10px 15px;
                color: var(--text-color);
            }

            &.opened {
                transform: translateX(0%);
            }
        }

        .back_btn {
            display: flex;
            align-items: center;
            gap: 6px;
            cursor: pointer;
            padding: 10px;
            font-size: 16px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        a {
            display: block;
            color: currentColor;
        }
    }
    .action_list {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        .action_item {
            width: 100%;
        }
    }
}

@media (min-width: map.get($grid-breakpoints, "lg")) {
    // .mobile_menu {
    //     display: none;
    // }
    // .site_header {
    //     .toggle {
    //         display: none;
    //     }
    // }
}

@media (max-width: map.get($grid-breakpoints, "lg")) {
    .site_header {
        padding: 10px 0;
        .navbar {
            display: none;
        }
        .site_logo {
            width: 100px;
        }
    }
    .top_header {
        display: none;
    }
}
