.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    gap: 16px;
    padding: 12px 20px;
    border-radius: 99px;
    text-transform: uppercase;
    border: 1px solid transparent;
    &.primary_btn {
        border-color: var(--yellow);
        &:hover {
            background-color: rgba(43, 43, 43, 0.78);
        }
    }
    &.secondary_btn {
        background-color: var(--yellow);
        color: white;
        &:hover {
            background-color: #d99903;
        }
    }
}
// @media (max-width: map.get($grid-breakpoints, "lg")){
//     .btn {
//         padding: 7px 20px;
//     }
// }
