.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    &.primary_btn {
        border-color: var(--orange);
        color: var(--orange);
        &:hover {
            background-color: rgba(0, 0, 0, 0.04);
        }
    }
    &.secondary_btn {
        background-color: var(--orange);
        color: white;
        &:hover {
            background-color: #f0460d;
        }
    }
}
// @media (max-width: map.get($grid-breakpoints, "lg")){
//     .btn {
//         padding: 7px 20px;
//     }
// }
