.hero {
    margin-top: -90px;
    padding-top: 90px;
    position: relative;
    .container {
        position: relative;
    }
    .bg_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
    .wrapper {
        flex-wrap: nowrap;
    }
    .content {
        padding-top: 48px;
        padding-left: 40px;
        h1 {
            margin-bottom: 16px;
        }
        h2 {
            font-weight: 300;
        }
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    .image {
        flex-shrink: 0;
    }
    .list {
        margin-top: 24px;
        li {
            padding: 8px 0;
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-colorPrimary MuiSvgIcon-fontSizeSmall css-1tx2d7' focusable='false' width='20' aria-hidden='true' viewBox='0 0 24 24' fill='%23FF5620' data-testid='DoneIcon'%3E%3Cpath d='M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }
    .search_bar {
        position: absolute;
        width: 100%;
        bottom: 120px;
        border-radius: 10px;
        border-top-right-radius: 0;
        background-image: linear-gradient(142deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 0.3) 68%);
        background-repeat: no-repeat;
        padding: 16px 24px 8px;
        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.3);
        .form_wrap {
            display: flex;
            align-items: center;
            gap: 16px;
            select,
            input {
                width: 100%;
                height: 56px;
                font-size: 18px;
                border: 1px solid rgba(0, 0, 0, 0.23);
                border-radius: 6px;
                padding: 0 12px;
                color: rgba(0, 0, 0, 0.6);
            }
            select {
                appearance: unset;

                option {
                    padding: 10px;
                }
            }
            .form_item {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                .icon {
                    position: absolute;
                    right: 12px;
                    pointer-events: none;
                    svg {
                        display: block;
                        path {
                            fill: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
            .btn {
                padding: 16px 12px;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.15);
            }
        }
        .info_bar {
            display: flex;
            align-items: center;
            padding-top: 16px;
            .item {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .text {
                flex-grow: 1;
                text-align: center;
            }
        }
        .reserv_count {
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-100%);
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: #6b7180;
            padding: 6px 16px;
            background-color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .content_box {
        padding-top: 32px;
        padding-bottom: 60px;
    }
}
@media (max-width: 991px) {
    .hero {
        .content {
            width: 100%;
            padding-left: 0;
            padding-top: 8px;
            margin-bottom: 44px;
            h2 {
                display: none;
            }
        }
        .image {
            display: none;
        }
        .search_bar {
            bottom: 40px;
            position: relative;
            border-top-left-radius: 0;
            padding: 24px 16px;
            .form_wrap {
                flex-wrap: wrap;
            }
            .info_bar {
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;
                padding-top: 16px;
            }
            .reserv_count {
                left: 0;
            }
        }
    }
}
@media (max-width: 576px) {
    .hero {
        .content {
            > * {
                &:not(h1) {
                    display: none;
                }
            }
        }
    }
}

.join_us {
    padding: 56px 0;
    .wrapper {
        align-items: center;
    }
    .content {
        width: 100%;
        max-width: 25%;
        h1 {
            font-size: 1.8755rem;
            font-weight: 800;
        }
    }
    .images {
        width: 100%;
        max-width: 75%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        > * {
            width: 120px;
            max-width: 25%;
            object-fit: contain;
            overflow: hidden;
            &:not(:first-child) {
                padding-left: 32px;
            }
        }
        .trustPilot {
            text-align: center;
            a {
                display: block;
            }
            svg {
                max-width: 100%;
                height: auto;
            }

            .tp-stars--4 .tp-star:nth-of-type(-n + 4),
            .tp-star__canvas,
            .tp-stars--4 .tp-star:nth-of-type(-n + 4),
            .tp-star__canvas--half {
                fill: #73cf11;
            }
        }
    }
}
@media (max-width: 991px) {
    .join_us {
        .images {
            max-width: 100%;
            > * {
                &:not(:first-child) {
                    padding-left: 16px;
                }
            }
        }
        .content {
            max-width: 100%;
            text-align: center;
            margin-bottom: 24px;
        }
    }
}

.our_plans {
    overflow: hidden;
    padding: 100px 0;
    background-color: #f3f5fc;
    .slider {
        max-width: 950px;
        margin: 0 auto;
        padding: 50px 0;
        .owl-stage-outer {
            overflow: visible;
            margin: 0 auto;
        }
        .owl-stage {
            width: fit-content;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
    }
    .owl-item {
        opacity: 0.65;
        // min-width: 300px;
        position: relative;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &.center {
            opacity: 1;
            z-index: 2;
            margin: 0 -10px;
            .plan_item {
                border-color: var(--orange);
                transform: scale(1.1);
                box-shadow: 15px 15px 50px 0 rgba(51, 101, 138, 0.09);
                .btn {
                    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.15);
                }
            }
        }
        &:not(.center) {
            .plan_item {
                .btn {
                    background-color: rgb(251, 237, 234);
                    color: var(--orange);
                    &:hover {
                        border-color: var(--orange);
                    }
                }
            }
        }
    }
    .plan_item {
        border: 2px solid transparent;
        padding: 24px 16px;
        position: relative;
        min-height: 490px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: white;
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        border-radius: 10px;
        box-shadow: 15px 15px 50px 0 rgba(51, 101, 138, 0.09);
        cursor: pointer;

        h3 {
            margin-bottom: 16px;
        }
        .tag {
            position: absolute;
            right: 4px;
            top: -8px;
            background-color: white;
            color: var(--orange);
            font-weight: 600;
            padding: 3px 6px;
            display: inline-block;
        }
        .list {
            text-align: left;
            li {
                display: flex;
                align-items: center;
                color: #6b7180;
                gap: 6px;
                padding: 4px 0;
                &::before {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-colorPrimary MuiSvgIcon-fontSizeSmall css-1tx2d7' focusable='false' width='20' aria-hidden='true' viewBox='0 0 24 24' fill='%232e7d32' data-testid='DoneIcon'%3E%3Cpath d='M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'%3E%3C/path%3E%3C/svg%3E");
                }
            }
        }
        .btn {
            margin-top: auto;
            letter-spacing: 0.05em;
            padding: 12px 27px;
        }
    }
}

.transport_services {
    margin: 50px 0;
    .services_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .service_item {
            width: 33.3333%;
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 36px;
            .icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: #f0f2f5;
            }
            p {
                font-size: 1rem;
                font-weight: 600;
                letter-spacing: 0.0125em;
                line-height: 1.5;
            }
        }
    }
}
@media (max-width: 768px) {
    .transport_services {
        .services_list {
            .service_item {
                width: 100%;
                justify-content: center;
            }
        }
    }
}
.our_services {
    margin: 100px 0;
    .sec_title {
        margin-bottom: 48px;
    }
    .services_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        .service_item {
            overflow: hidden;
            height: 100%;
            padding: 48px 32px;
            border-radius: 10px;
            text-align: center;
            background-color: white;
            box-shadow: 15px 15px 50px 0 rgba(51, 101, 138, 0.09);
            .icon {
                display: inline-block;
                margin-bottom: 12px;
                img {
                    height: 64px;
                    width: auto;
                }
            }
            h4 {
                font-size: 22px;
                font-weight: 700;
                margin-bottom: 12px;
            }
            p {
                color: #6b7180;
            }
        }
    }
}
@media (max-width: 991px) {
    .our_services {
        .services_list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
@media (max-width: 576px) {
    .our_services {
        .services_list {
            grid-template-columns: 1fr;
        }
    }
}
.content_block {
    margin: 160px 0;
    .wrapper {
        justify-content: space-between;
        > * {
            &:first-child {
                .sec_title {
                    text-align: right;
                }
            }
            &:last-child {
                .sec_title {
                    text-align: left;
                }
            }
        }
    }
    .col_4 {
        width: 40%;
    }
    .col_5 {
        width: 50%;
    }
    .image {
        img {
            width: 100%;
        }
    }
    .content {
        p {
            margin-bottom: 36px;
        }
        .list {
            display: flex;
            flex-wrap: wrap;
            gap: 36px 0;
            li {
                width: 50%;
                display: flex;
                align-items: center;
                gap: 8px;
                .icon {
                    background-color: #f0f2f5;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.25rem;
                    border-radius: 50%;
                    line-height: 1;
                    img {
                        width: 13px;
                    }
                }
            }
        }
        .features {
            display: flex;
            flex-wrap: wrap;
            li {
                width: 33.333%;
                min-width: 200px;
            }
            h3 {
                font-size: 1.8755rem;
                font-weight: 600;
                color: var(--orange);
                margin-bottom: 12px;
            }
            h6 {
                font-size: 12px;
                font-weight: 400;
                color: black;
            }
        }
    }
}
@media (max-width: 991px) {
    .content_block {
        margin: 50px 0;
        .col {
            width: 100% !important;
        }
        .sec_title {
            text-align: center !important;
        }
        .image {
            display: none;
        }
        .content {
            .list {
                li {
                    width: 100%;
                }
            }
        }
    }
}
.trust_pilot {
    .wrapper {
        background-image: url(../images/1644403339-mov_bg_couple_with-boxes_01_logo.webp);
        background-position: center;
        background-size: cover;
        justify-content: space-between;
        padding: 72px 32px;
    }
    .left_block {
        align-self: flex-end;
        .widget_wrapper {
            text-align: left;
            padding: 10px 16px;
            padding-bottom: 0;
            .info {
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
    }
    svg {
        max-width: 100%;
        height: auto;
    }
    .right_box {
        width: 100%;
        max-width: 316px;
        > div {
            &:first-child {
                text-align: center;
                padding: 24px;
                padding-bottom: 8px;
                background: rgba(239, 239, 239, 0.3) 0% 68% no-repeat padding-box;
                border-radius: 10px 10px 0px 0px;
                backdrop-filter: blur(28px);
            }
            &:last-child {
                background-color: white;
                width: 100%;
                padding: 8px 16px 0px;
                text-align: center;
                border-radius: 0 0 10px 10px;
            }
        }
        h6 {
            font-size: 14px;
            font-weight: 400;
            color: var(--orange);
            text-transform: uppercase;
        }
        .logo {
            display: inline-block;
        }
    }
    .widget_wrapper {
        text-align: center;
        background-color: white;

        .info {
            border-bottom: 1px solid rgba(25, 25, 25, 0.2);
            padding-bottom: 10px;
            margin-bottom: 10px;
            p {
                font-weight: 400;
                strong {
                    font-weight: 600;
                }
            }
        }
    }
    .reviews {
        text-align: left;
        > span {
            color: rgba(25, 25, 25, 0.6);
        }
    }
    .slider {
        position: relative;
        overflow: hidden;
        .owl-stage {
            display: flex;
        }
        .title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 12px;
        }
        .text {
            font-size: 12px;
            margin-bottom: 6px;
        }
        .author {
            font-size: 12px;
            font-weight: 400;
            color: rgba(25, 25, 25, 0.6);
            span {
                font-weight: 500;
                color: black;
            }
        }
        .owl-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0;
            margin-top: 8px;
            button {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid rgba(25, 25, 25, 0.2);
                color: rgba(0, 0, 0, 0.5);
            }
        }
        .owl-dots {
            position: absolute;
            left: 0;
            bottom: 15px;
            width: 100%;
            text-align: center;
            pointer-events: none;
            .owl-dot {
                background-color: #191919;
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                height: 10px;
                margin: 2px 4px 0;
                opacity: 0.3;
                transition-duration: 0.2s;
                transition-property: background-color, opacity;
                transition-timing-function: ease-in-out;
                padding: 0;
                width: 10px;
                &.active {
                    opacity: 1;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .trust_pilot {
        .wrapper {
            justify-content: center;
        }
        .left_block {
            display: none;
        }
    }
}
.who_we_are {
    padding: 50px 0;
    .sec_title {
        text-align: center;
        max-width: 624px;
        margin: 0 auto 36px;
    }
    .list_items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 64px;
        .item {
            border-bottom: 1px solid #6b718042;
            padding-bottom: 20px;
            .title {
                padding-left: 16px;
                border-left: 4px solid var(--orange);
                margin-bottom: 24px;
            }
            p {
                a {
                    color: var(--orange);
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .who_we_are {
        .list_items {
            grid-template-columns: 1fr;
        }
    }
}
.section_group {
    margin: 100px 0;
    .wrap {
        max-width: 1260px;
        margin: 0 auto;
        padding: 64px 96px;
        background: #f8f9fc;
        border-radius: 10px;
        box-shadow: 15px 15px 50px 0 rgba(51, 101, 138, 0.09);
    }
}
.FAQs {
    padding: 50px 0;
    .wrapper {
        max-width: 1080px;
        margin: 0 auto;
    }
    .sec_title {
        width: 100%;
        h4 {
            color: var(--orange);
        }
    }
    .tabs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    #tabs-nav {
        width: 41.666667%;
    }
    .content {
        width: 58.333333%;
        padding-left: 64px;
        h3 {
            margin-bottom: 24px;
        }
        p {
            font-size: 16px;
            color: #6b7180;
        }
    }
    .block {
        padding-bottom: 36px;
        h5 {
            font-size: 14px;
            text-transform: uppercase;
            color: var(--orange);
            letter-spacing: 0.125em;
            border-bottom: 1px solid #6b718042;
            padding-bottom: 8px;
        }
        li {
            a {
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 8px 0;
                border-bottom: 1px solid #6b718042;
                &::after {
                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-fontSizeMedium css-vubbuv' focusable='false' aria-hidden='true' viewBox='0 0 24 24' data-testid='ChevronRightIcon' width='24'%3E%3Cpath d='M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z'%3E%3C/path%3E%3C/svg%3E");
                    opacity: 0.6;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .FAQs {
        #tabs-nav {
            width: 100%;
        }
        .content {
            width: 100%;
            padding-left: 0;
        }
    }
    .section_group {
        .wrap {
            box-shadow: unset;
            padding: 0;
            background-color: transparent;
        }
    }
}
.discover_us {
    .wrapper {
        max-width: 1230px;
        margin: 0 auto;
        align-items: center;
        border-radius: 10px;
        box-shadow: 15px 15px 50px 0 rgba(51, 101, 138, 0.13);
        background-color: #fff;
        overflow: hidden;
    }
    .col {
        width: 50%;
    }
    .content {
        padding: 24px 40px;
        padding-bottom: 0;
        h3 {
            font-size: 30px;
            margin-bottom: 16px;
        }
        p {
            color: #6b7180;
            margin-bottom: 16px;
        }
    }
}
@media (max-width: 991px) {
    .discover_us {
        .wrapper {
            flex-direction: column-reverse;
        }
        .col {
            width: 100%;
        }
        .content {
            padding: 20px;
            h3 {
                font-size: 23px;
            }
            .btn {
                width: 100%;
            }
        }
    }
}
.our_mission {
    margin: 150px 0;
    .wrapper {
        max-width: 1230px;
        margin: 0 auto;
    }
    .image {
        width: 100%;
        position: relative;
        img {
            width: 100%;
        }
        h1 {
            position: absolute;
            left: 56px;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            max-width: 500px;
        }
        .icon {
            position: absolute;
            right: 16px;
            bottom: 16px;
        }
    }
    .content {
        display: flex;
        gap: 64px;
        padding: 100px 64px 32px;
        position: relative;
        > div {
            width: 50%;
        }
        h4 {
            font-style: italic;
        }
        p {
            margin-bottom: 16px;
        }
        &::after {
            content: "";
            width: 70%;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: black;
            opacity: 0.15;
        }
    }
    .content_box {
        width: 100%;
        max-width: 592px;
        margin: 30px auto 0;
        text-align: center;
        position: relative;
        .text {
            background-size: contain;
            background-image: url(../images/one-treeplanted-stats.png);
            background-repeat: no-repeat;
            background-position: bottom;
            padding: 32px;
            padding-bottom: 8px;
        }
        h5 {
            font-size: 16px;
            font-weight: 600;
        }
        > * {
            margin-bottom: 36px;
        }
        &::after {
            content: "";
            width: 70%;
            height: 1px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background-color: black;
            opacity: 0.15;
        }
    }
    .items_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 32px;
        padding: 50px 0;
        .item {
            .image {
                margin-bottom: 12px;
            }
        }
    }
}
@media (max-width: 991px) {
    .our_mission {
        .items_list {
            grid-template-columns: repeat(2, 1fr);
        }
        .content {
            flex-direction: column;
            > div {
                width: 100%;
            }
        }
    }
}
@media (max-width: 576px) {
    .our_mission {
        .items_list {
            grid-template-columns: 1fr;
        }

    }
}
