.hero {
    margin-top: -90px;
    padding-top: 90px;
    position: relative;
    .container {
        position: relative;
    }
    .bg_img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
    .wrapper {
        flex-wrap: nowrap;
    }
    .content {
        padding-top: 48px;
        padding-left: 40px;
        h1 {
            font-size: 43px;
            margin-bottom: 16px;
        }
        h2 {
            font-size: 22px;
            font-weight: 300;
        }
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    .image {
        flex-shrink: 0;
    }
    .list {
        margin-top: 24px;
        li {
            padding: 8px 0;
            display: flex;
            align-items: center;
            gap: 8px;
            &::before {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='MuiSvgIcon-root MuiSvgIcon-colorPrimary MuiSvgIcon-fontSizeSmall css-1tx2d7' focusable='false' width='20' aria-hidden='true' viewBox='0 0 24 24' fill='%23FF5620' data-testid='DoneIcon'%3E%3Cpath d='M9 16.2 4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'%3E%3C/path%3E%3C/svg%3E");
            }
        }
    }
    .search_bar {
        position: absolute;
        width: 100%;
        bottom: 120px;
        border-radius: 10px;
        border-top-right-radius: 0;
        background-image: linear-gradient(142deg, rgba(255, 255, 255, 1) 38%, rgba(255, 255, 255, 0.3) 68%);
        background-repeat: no-repeat;
        padding: 16px 24px 8px;
        background-color: rgba(255, 255, 255, 0.3);
        .form_wrap {
            display: flex;
            align-items: center;
            gap: 16px;
            select,
            input {
                width: 100%;
                height: 56px;
                font-size: 18px;
                border: 1px solid rgba(0, 0, 0, 0.23);
                border-radius: 6px;
                padding: 0 12px;
                appearance: unset;
                color: rgba(0, 0, 0, 0.6);
            }
            select {
                option {
                    padding: 10px;
                }
            }
            .form_item {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                .icon {
                    position: absolute;
                    right: 12px;
                    pointer-events: none;
                    svg {
                        display: block;
                        path {
                            fill: rgba(0, 0, 0, 0.6);
                        }
                    }
                }
            }
            .btn {
                padding: 16px 12px;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
            }
        }
        .info_bar {
            display: flex;
            align-items: center;
            padding-top: 16px;
            .item {
                display: flex;
                align-items: center;
                gap: 8px;
            }
            .text {
                flex-grow: 1;
                text-align: center;
            }
        }
        .reserv_count {
            font-size: 12px;
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-100%);
            display: inline-flex;
            align-items: center;
            gap: 8px;
            color: #6B7180;
            padding: 6px 16px;
            background-color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }
    .content_box {
        padding-top: 32px;
        padding-bottom: 60px;
    }
}
@media (max-width: 991px) {
    .hero {
        .content {
            width: 100%;
            padding-left: 0;
            margin-bottom: 44px;
            h2 {
                display: none;
            }
        }
        .image {
            display: none;
        }
        .search_bar {
            bottom: 40px;
            position: relative;
            border-top-left-radius: 0;
            .form_wrap {
                flex-wrap: wrap;
            }
            .info_bar {
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;
                padding-top: 16px;
            }
            .reserv_count {
                left: 0;
            }
        }
    }
}
